services:
  app:
    image: anime-timeline-app
    container_name: app-prod
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "${PORT}:${PORT}"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
