services:
  app:
    image: anime-timeline-app-dev
    container_name: app-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "${PORT}:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
    restart: unless-stopped
